<!--
<div class="page-header">
  <h1><a href="{{ blog.url }}">{{ blog.title }}</a></h1>
</div>
-->

{% include 'article-item' %}

<div id="comments" class="comments-wrap">

	{% if settings.display-article-author %}
		{% include 'article-byline' %}
	{% endif %}

	{% if article.comments_enabled? %}
		{% include 'disqus' %}
	{% endif %}
</div>

{% if blog.previous_article or blog.next_article %}
	<div class="post-pagination">

	  {% if blog.previous_article %}
	    <a href="{{ blog.previous_article }}" class="newer-post button secondary"><span>&#57361;</span> {{ 'blogs.article_item.previous_post' | t }}</a>
	  {% endif %}

	  {% if blog.next_article %}
	    <a href="{{ blog.next_article }}" class="older-post button secondary">{{ 'blogs.article_item.next_post' | t }} <span>&#57360;</span></a>
	  {% endif %}

	</div>
{% endif %}
